@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Molgan";
  font-display: swap;
  src: url(../fonts/Molgan.otf) format("opentype");
}

@font-face {
  font-family: "Queenside-Regular";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Queensides-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Queenside-Light";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Queensides-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Queenside-Medium";
  src: url(../fonts/Queensides-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Queenside-Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Queensides-Bold.ttf) format("truetype");
}
